.my-more .my-icd{
    background: url("../images/ly_bg01.jpg") no-repeat center bottom;
    background-size: cover;
    overflow-x: hidden;
    height: 650px;
}
.my-more .my-icd h2{
    padding-top: 100px;
    color: #f6f6f6;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    font-size: 24px;
}
.my-more .my-icd h3{
    background: #FFF;
    width: 100px;
    height: 1px;
    margin: 25px auto 0 auto;
}
.my-more .my-icd p{
    color: #a7a7a7;
    margin-top: 25px;
    text-align: center;
    font-family: Arial;
    line-height: 1;
    font-size: 18px;
}
.my-more .my-our-customers{
    background: #fff;
    padding-bottom: 50px;
}
.my-more .my-more-box{
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
}
.my-more .my-our-customers h2{
    padding-top: 100px;
    color: #000;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    font-size: 24px;
}
.my-more .my-our-customers h3{
    background: #000;
    width: 100px;
    height: 1px;
    margin: 25px auto 0 auto;
}
.my-more .my-our-customers p{
    color: #a7a7a7;
    margin-top: 25px;
    text-align: center;
    font-family: Arial;
    line-height: 1;
    font-size: 18px;
}
.my-more .my-our-customers ul li{
    float: left;
    width: 240px;
    height: 220px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #dadada;
}
.my-more .my-our-customers ul li img{
    vertical-align: middle;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}