/*服务页*/
.servecon{
    width: 100%;
    padding-top: 70px;
    overflow: hidden;
    padding-bottom: 120px;
}
.servetitle{
    padding-left: 75px;
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.servetitle h2{
    margin-bottom: 4px;
}
.servetitle>p:nth-child(2){
    font-size: 19px;
    color: #7D7D7D;
}
.servetitle>p:nth-child(4){
    font-size: 16px;
    color: #7D7D7D;
}
.servex{
    width: 100px;
    height: 1px;
    margin: 17px 0 17px 0;
    background: black;
}
.servelist {
    margin-top: 24px;
}
.servelist>li{
    list-style: none;
    margin-top: 10px;
    margin-right: 50px;
    width:130px;
    float: left;
}
.servelist>li>img{
    margin-left: 13px;
    display: block;
    margin-bottom: 25px;
}
.servelist>li>p{
    margin-top: 9px;
    color: #7D7D7D;
    font-size: 15px;
}
.scrvebtn{
    width: 162px;
    margin-top: 31px;
    display:block;
    border: 1px solid black;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    height: 42px;
}
.scrvebtn>p{
    width: 162px;
    color: #000;
    text-align: center;
    transition:all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
    line-height: 42px;
    height: 42px;
}
.scrvebtn>p:nth-child(2){
    background: #FF6600;
    color: white;
    opacity: 0;
}
.scrvebtn:hover>p:nth-child(1){
    margin-top: -42px;
    opacity: 0;
}
.scrvebtn:hover>p:nth-child(2){
    opacity: 1;
}
.scrveconimg{
    float: right;
    width: 50%;
    position: relative;
}
.my-servecon-two{
    height: 700px;
    overflow: hidden;
    background: #f60;
}
.my-servecon-two .my-scrvecon-l{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.my-servecon-two .my-scrvecon-l .my-img-one{
    position: absolute;
    left: 60%;
    top: 0;
}
.my-servecon-two .my-scrvecon-l .my-img-two{
    position: absolute;
    top: 20%;
    right: 0;
}
.my-servecon-two .my-scrvecon-r{
    float: left;
    width: 50%;
    height: 100%;
}
.my-servecon-two .my-scrvecon-r h2{
    padding: 150px 0 0 80px;
    color:#fff;
    font-weight: normal;
    font-size: 24px;
}
.my-servecon-two .my-scrvecon-r h3{
    margin: 15px 0 0 80px;
    color:#fff;
    line-height: 1;
    font-weight: normal;
    font-size: 18px;
}
.my-servecon-two .my-scrvecon-r h4{
    margin: 20px 0 15px 80px;
    height: 1px;
    width: 100px;
    background: #fff;
}
.my-servecon-two .my-scrvecon-r h5{
    margin: 0 0 15px 80px;
    color:#fff;
    font-weight: normal;
    font-size: 14px;
}
.my-servecon-two .my-scrvecon-r ul{
    margin: 0 0 0 80px;
}
.my-servecon-two .my-scrvecon-r ul li{
    float:left;
    width: 130px;
    height: 90px;
    color: #fff;
    margin-top: 10px;
    margin-right: 50px;
}
.my-servecon-two .my-scrvecon-r ul li img{
    margin-left: 13px;
    display: block;
    margin-bottom: 25px;
}
.my-servecon-two .my-scrvecon-r ul li p{
    line-height: 1.8;
    height: 45px;
    color: #fff;
    font-size: 14px;
}
.my-servecon-two .my-scrvecon-r .scrvebtn{
    width: 162px;
    margin-top: 31px;
    margin-left: 80px;
    display:block;
    border: 1px solid #fff;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    height: 42px;
}
.my-servecon-two .my-scrvecon-r .scrvebtn>p{
    width: 162px;
    color: #fff;
    text-align: center;
    transition:all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
    line-height: 42px;
    height: 42px;
}
.my-servecon-two .my-scrvecon-r .scrvebtn>p:nth-child(2){
    background: #fff;
    color: #f9771d;
    opacity: 0;
}
.my-servecon-two .my-scrvecon-r .scrvebtn:hover>p:nth-child(1){
    margin-top: -42px;
    opacity: 0;
}
.my-servecon-two .my-scrvecon-r .scrvebtn:hover>p:nth-child(2){
    opacity: 1;
}
.my-servecon-three{
    height: 700px;
    background: #000;
}
.my-servecon-three .my-servecon-l{
    width: 50%;
    height: 100%;
    float: left;
}
.my-servecon-three .my-servecon-l h2{
    padding: 150px 0 0 80px;
    color:#fff;
    font-weight: normal;
    font-size: 24px;
}
.my-servecon-three .my-servecon-l h3{
    margin: 15px 0 0 80px;
    color: #7d7d7d;
    line-height: 1;
    font-weight: normal;
    font-size: 18px;
}
.my-servecon-three .my-servecon-l h4{
    margin: 20px 0 15px 80px;
    height: 1px;
    width: 100px;
    background: #fff;
}
.my-servecon-three .my-servecon-l h5{
    margin: 0 0 15px 80px;
    color: #7d7d7d;
    font-weight: normal;
    font-size: 14px;
}
.my-servecon-three .my-servecon-l ul{
    margin: 0 0 0 80px;
}
.my-servecon-three .my-servecon-l ul li{
    float:left;
    width: 130px;
    height: 90px;
    color: #7d7d7d;
    margin-top: 10px;
    margin-right: 50px;
}
.my-servecon-three .my-servecon-l ul li img{
    margin-left: 13px;
    display: block;
    margin-bottom: 25px;
}
.my-servecon-three .my-servecon-l ul li p{
    line-height: 1.8;
    height: 45px;
    color: #7d7d7d;
    font-size: 14px;
}
.my-servecon-three .my-servecon-l .scrvebtn{
    width: 162px;
    margin-top: 31px;
    margin-left: 80px;
    display:block;
    border: 1px solid #fff;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    height: 42px;
}
.my-servecon-three .my-servecon-l .scrvebtn>p{
    width: 162px;
    color: #fff;
    text-align: center;
    transition:all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
    line-height: 42px;
    height: 42px;
}
.my-servecon-three .my-servecon-l .scrvebtn>p:nth-child(2){
    background: #fff;
    color: #f9771d;
    opacity: 0;
}
.my-servecon-three .my-servecon-l .scrvebtn:hover>p:nth-child(1){
    margin-top: -42px;
    opacity: 0;
}
.my-servecon-three .my-servecon-l .scrvebtn:hover>p:nth-child(2){
    opacity: 1;
}
.my-servecon-three .my-servecon-r{
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}
.my-servecon-three .my-servecon-r img{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.my-serve-p-four{
    height: 700px;
    background: #333;
}
.my-serve-p-four .my-servecon-l{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.my-serve-p-four .my-servecon-l img{
    position: absolute;
    top: 0;
    left: 0;
}
.my-serve-p-four .my-servecon-l img:first-of-type{
    left: 20%;
    top: 80px;
}
.my-serve-p-four .my-servecon-l img:last-of-type{
    left: 25%;
    top: 80px;
}
.my-serve-p-four .my-servecon-r{
    width: 50%;
    height: 100%;
    float: left;
}
.my-serve-p-four .my-servecon-r h2{
    padding: 150px 0 0 80px;
    color:#fff;
    font-weight: normal;
    font-size: 24px;
}
.my-serve-p-four .my-servecon-r h3{
    margin: 15px 0 0 80px;
    color: #7d7d7d;
    line-height: 1;
    font-weight: normal;
    font-size: 18px;
}
.my-serve-p-four .my-servecon-r h4{
    margin: 20px 0 15px 80px;
    height: 1px;
    width: 100px;
    background: #fff;
}
.my-serve-p-four .my-servecon-r h5{
    margin: 0 0 15px 80px;
    color: #7d7d7d;
    font-weight: normal;
    font-size: 14px;
}
.my-serve-p-four .my-servecon-r ul{
    margin: 0 0 0 80px;
}
.my-serve-p-four .my-servecon-r ul li{
    float:left;
    width: 130px;
    height: 90px;
    color: #7d7d7d;
    margin-top: 10px;
    margin-right: 50px;
}
.my-serve-p-four .my-servecon-r ul li img{
    margin-left: 13px;
    display: block;
    margin-bottom: 25px;
}
.my-serve-p-four .my-servecon-r ul li p{
    line-height: 1.8;
    height: 45px;
    color: #7d7d7d;
    font-size: 14px;
}
.my-serve-p-four .my-servecon-r .scrvebtn{
    width: 162px;
    margin-top: 31px;
    margin-left: 80px;
    display:block;
    border: 1px solid #fff;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    height: 42px;
}
.my-serve-p-four .my-servecon-r .scrvebtn>p{
    width: 162px;
    color: #fff;
    text-align: center;
    transition:all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
    line-height: 42px;
    height: 42px;
}
.my-serve-p-four .my-servecon-r .scrvebtn>p:nth-child(2){
    background: #fff;
    color: #f9771d;
    opacity: 0;
}
.my-serve-p-four .my-servecon-r .scrvebtn:hover>p:nth-child(1){
    margin-top: -42px;
    opacity: 0;
}
.my-serve-p-four .my-servecon-r .scrvebtn:hover>p:nth-child(2){
    opacity: 1;
}




.my-more-services{
    height: 710px;
    font-family: "微软雅黑";
    padding-top: 150px;
    background: url("../images/ser_ico_bg.jpg") no-repeat;
}
.my-more-services h2{
    text-align: center;
    font-weight: normal;
}
.my-more-services h2 p{
    width: 100px;
    height: 21px;
    margin: 0 auto 15px;
    border-bottom: 1px solid #000;
    color: #333;
    font-size: 24px;
    padding: 0 0 25px;
}
.my-more-services h2 span{
    color: #7d7d7d;
    font-size: 18px;
    line-height: 18px;
}
.my-more-services ul{
    width: 1200px;
    margin: 0 auto;
}
.my-more-services ul li{
    width: 352px;
    height: 190px;
    margin: 70px 48px 0 0;
    float: left;
}
.my-more-services ul li dt{
    width: 46px;
    height: 39px;
    margin: 0 auto;
}
.my-more-services ul li dt img{
    position: absolute;
}
.my-more-services ul li dd{
    margin: 30px 0 0;
}
.my-more-services ul li dd h3{
    text-align: center;
    height: 40px;
    color: #2e2d33;
    font-weight: normal;
    font-size: 14px;
}
.my-more-services ul li dd h4{
    width: 30px;
    height: 1px;
    background: #2e2d33;
    margin: -1px auto 12px;
}
.my-more-services ul li dd h5{
    text-align: center;
    opacity: 0;
    font-weight: normal;
    line-height: 1.8;
    transition: opacity 0.3s ease-out;
}
.my-more-services ul li dd h5 span{
    padding: 0 12px;
    color: #7d7d7d;
    font-size: 14px;
}
.my-more-services ul li:nth-of-type(3n){
    margin-right: 0;
}
.my-more-services ul li:hover dd h5{
    opacity: 1;
}


