/*最外层元素*/
.main{
    width: 100%;
}
/*head 开始*/
.head{
    width: 100%;
    height:100px;
    transition: 0.5s;
    position: fixed;
    z-index: 99;
    background: #131313;
}
/*logo*/
.logo{
    margin-left: 30px;
    float: left;
    transition: 0.6s;
    margin-top: 11px;
}
.logo_phone{
    display: none;
}
/*nav*/
.nav{
    float: right;
    line-height:87px;
    height: 87px;
    margin-top: 10px;
    transition: 0.6s;
    margin-right: 38px;
}
.nav li{
    list-style: none;
    color: white;
    width: 116px;
    margin-left: 20px;
    text-align: center;
    float: left;
    font-size: 14px;
}
.nav li span{
    display: none;
}
.nav li:hover>p{
    width: 100%;
}
.nav a li.active p{
    width: 100%;
}
.nav li p{
    width: 0;
    height: 3px;
    transition: 0.5s;
    margin: 0 auto;
    background: #FF6600;
}
.nav_btn{
    display: none;
    float: right;
    cursor: pointer;
    height: 32px;
    width: 30px;
    position: relative;
}
.nav_btn span{
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 0px;
    transition: background-color 0.3s ease-out 0.1s;
}
.nav_btn span:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 0px;
    transition: transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
}
.nav_btn span:after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 0px;
    transition: transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
}
.nav_btn .toggl{
    background:transparent;
}
.nav_btn .toggl:before{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(45deg);
    top: 0px;
}
.nav_btn .toggl:after{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(-45deg);
    top: 0px;
}
/*head 结束*/
.center{}
.cen-head{
    width: 100%;
    height: 100px;
    background: black;
}
/*foot-top*/
.my-help{
    height: 247px;
    position: relative;
}
.my-help img{
    width: 100%;
    height: 100%;
}
.my-help .my-help-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.my-help-join{
    margin-top: 65px;
}
.my-help .my-help-mask h3{
    height: 45px;
    font-weight: normal;
    color: #fff;
    font-size: 22px;
    text-align: center;
    position: relative;
}
.my-help .my-help-mask h3 span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100px;
    height: 1px;
    background: #fff;
    margin: 0 auto;
    transition: width 0.5s ease-out;
}
.my-help .my-help-mask h4{
    font-weight: normal;
    margin: 15px 0 20px;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.my-help .my-serve{
    cursor: pointer;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
}
.my-help .my-serve-p-one{
    transition: all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
}
.my-help .my-serve-p-two{
    transition: all 0.6s cubic-bezier(0.785,0.135,0.150,0.860);
    background: #fff;
    color: #000;
}
.my-help .my-serve:hover .my-serve-p-one{
    transform: translateY(-100%);
}
.my-help .my-serve:hover .my-serve-p-two{
    transform: translateY(-100%);
}
.my-help .my-help-join:hover h3 span{
    width: 50px;
}
/*foot*/
.my-footer{
    background:#131313;
    height: 280px;
}
.my-box{
    width: 1189px;
    margin: 0 auto;
}
.my-footer-con{
    border-bottom: 1px solid #7d7d7d;
    height: 165px;
    padding: 35px 0 0;
    text-align: center;
    margin: 0 0 20px;
}
.my-copyright{
    position: relative;
}
.my-copyright p{
    color:#8f8f8f;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.my-copyright p img{
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.my-copyright .my-copyright-center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
/*侧栏 咨询*/
.fixed{
    width: 70px;
    position: fixed;
    right: 0;
    bottom: 5px;
    z-index: 10;
}
.fixed .ly{
    width: 70px;
    height: 70px;
    position: relative;
    background: rgba(255,102,0,0.8);
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.fixed .ly img{
    margin-top: 20px;
    transition: all 0.5s;
}
.fixed .ly p{
    color: #fff;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s;
}
.fixed .ly:hover{
    width: 90px;
    height: 90px;
    margin-top:-20px;
    margin-left: -20px;
}
.fixed .ly:hover img{
    margin-top: 15px;
    opacity: 1;
}
.fixed .ly:hover p{
    opacity: 1;
}
.fixed .tel{
    background: rgba(0,0,0,0.8);
    width: 70px;
}
.fixed .tel div{
    position: relative;
    transition: all 0.5s;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.fixed .tel div p{
    position: absolute;
    color:#fff;
    width: 0;
    top: 0;
    right: 70px;
    background: rgba(0,0,0,0.8);
    opacity: 0;
}
.fixed .tel div img{
    vertical-align: middle;
}
.fixed .tel .tel_one{
    height: 0px;
}
.fixed .tel .tel_one img{
    opacity: 0;
    transition: all 0.5s;
}
.fixed .tel .tel_two{

}
.fixed .tel:hover .tel_one{
    height: 70px;
}
.fixed .tel:hover .tel_one img{
    opacity: 1;
}
.fixed .tel:hover div p{
    transition: all 0.5s 0.5s;
    color:#fff;
    width: 230px;
    opacity: 1;
}
.fixed .top{
    display: block;
    cursor: pointer;
    width: 70px;
    height: 0px;
    transition: .7s all;
    position: relative;
    z-index: 15;
}
.my-talk_window{
    display: none;
    width: 500px;
    height: 260px;
    box-sizing: border-box;
    padding: 15px;
    background: rgba(255,102,0,0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -250px;
    z-index: 9999;
}
.my-talk_window_con{
    border:1px solid #fff;
    width:100%;
    height: 100%;
    position: relative;
}
.my-talk_window_con .my-t_w_close{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    width: 30px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    font-family: "Arial";
    padding-top: 5px;
}
.my-t_w_text{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.my-t_w_text h3{
    font-size: 24px;
    margin-bottom: 15px;
}
.my-t_w_text p{
    margin-top: 5px;
}
.my-t_w_text .p{
    font-size: 22px;
    margin-top: 15px;
}
.my-t_w_text .p a{
    padding:0 10px;
    color: #fff;}
.my-t_w_btn{
    position: absolute;
    right: 0px;
    bottom:0px;
}
.my-t_w_btn a{
    display: inline-block;
    box-sizing:border-box;
    font-size: 16px;
    float: left;
    height: 45px;
    line-height: 43px;
}
.my-t_w_btn a:first-child{
    width: 163px;
    text-align: center;
    color: #f60;
    background: #fff;
}
.my-t_w_btn a:first-child+a{
    width: 115px;
    text-align: center;
    color: #fff;
    border:1px solid #fff;
    border-right: 0px;
    border-bottom: 0;
}

